.review-img{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 4rem ;
}
.review-context{
    margin-left: 20% !important;
    margin-top: 2rem;
}
.review-context h3 {
    color: #24aeb1;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.review-context span {
    font-size: 13px;
    color: #24aeb1;
}