.medicine-information{
    font-size: medium;
    word-spacing: 1px;
}


.image-container{
    height: 400px;
    position: relative;
}

.image-center
{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

h2::selection{
    color: brown;
}