.medicine-information{
    font-size: medium;
    word-spacing: 1px;
}


.image-container{
    height: 400px;
    position: relative;
}
 img{
    transition: all 0.7s;
}
 img:hover{
/* border: 1px solid #0fe; */
transform: scale(1.1);

}
.image-center
{
    max-width: 90%; 
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

h2::selection{
    color: brown;
}

@media (max-width:768px){
    .row {
        display: flex;
        flex-direction: column;
    }
    .col-6{
        width: 100%;
    }
    .medicine-information{
        margin-top: 52px;
    }
    .img-list{
        display: block;
    }
}